@import "galleryInsert.css";

@import "accueil.css";

@import "layout.css";

@import "breadcrumbs.css";

@import "content.css";

@import "widgets.css";

@import "tags.css";

@import "news.css";

@import "contactMe.css";

@import "categories.css";

@import "ehRepeat.css";

@import "menuportail.css";

@import "eventhandler.css";

#hamburger {
  display:none;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  #top{
    /*! display: none; */
    background-image: url(/gam/themes/gam/img/bannierehaut.png),url(/gam/themes/gam/img/bannierebas.png);
    background-position: 15vw 1vw,bottom left;
    background-size: 80vw,100vw;
    height: 11vw;
  }
  
  #logo{
    width:12vw;
    display:none;
    cursor: col-resize;
  }
  
  #hamburger {
   display: block;
   top: 5.5vw;
   margin-top: -2px;
   /*! top: 0; */
   left: 1.3vw;
   cursor:pointer;
   transition-delay:500ms;
   transition:transform 1s;
  }
  
  #hamburger, #hamburger::before, #hamburger::after {
    width: 10vw;
    height: 1.5vw;
    background-color: darkgreen; /* Couleur du hamburger */
    border-radius: 1.2vw;
    position: absolute;
    z-index:200;
  }
  
  #hamburger::before, #hamburger::after {
    content: ""; /* tu affiche un invisible dans chaque ligne généré */
    display: block; /* tu les définit en bloc (puisque ce sont des span */
  }
  
  #hamburger::before {
    top: -2.5vw; /* tu décale celle du bas */
    transition-delay : 0;
    transition: top 500ms, transform 500ms;
  }
  
  #hamburger::after {
    bottom: -2.5vw; /* tu décale celle du haut */
  }

  /*Transfo du hamburger en croix*/
  .hamburger-x::before {
    top:0 !important;
    transform:rotate(90deg);
    transition-property:top transform;
    transition-delay:0;
    transition-duration:500ms;
  }
  
  .hamburger-x {
    transform:rotate(135deg);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: swing;
  }
  
  .hamburger-x::after {
    display:none !important;
  }
  
  #breadcrumb{
    display:none;
  }
  
  #page{  
  width: 100%;
  display: grid;
  /*! grid-row-gap: 10px; */
  box-sizing: content-box;
  margin: 0;
  }
  
  #wrapper{
    
  grid-template-columns: unset;
  grid-template-rows: auto auto;
  /*! grid-row-gap: 10px; */
  margin: 0;
  padding: 0;
  /*! grid-row-end: unset; */
  }
  
  #content{
    
  }
  
  #sidebar{
    
  /*! display: flex; */
  /*! flex: 1; */
  }
  
  #footer{
    
  margin-top: -10px;
  }
  
  .widget{
    
  /*! max-width: 175px; */
  /*! max-height: 175px; */
  }
}

