body {
background-color:#FFF88D;
color:#383839;
font-family:Verdana,Geneva, Arial, Helvetica, sans-serif;
background-image:url(/gam/public/blowup-images/body-bg.png);
}
.post-tags li a:link, .post-tags li a:visited, .post-info-co a:link, .post-info-co a:visited {
color:#383839;
}
#page {
font-size:1.2em;
}
.post-content, .post-excerpt, #comments dd, #pings dd, dd.comment-preview {
line-height:1.5em;
}
#top h1 span {
text-indent:-5000px;
}
#top h1 {
top:0px;
}
#top h1 a {
display:block;
height:103px;
width:800px;
}
#top {
height:113px;
background-image:url(/gam/public/blowup-images/page-t.png);
}
.day-date {
color:#826228;
}
a {
color:#646B10;
}
a:visited {
color:#919924;
}
a:hover, a:focus, a:active {
color:#DF6C01;
}
#comment-form input, #comment-form textarea {
color:#646B10;
}
#comment-form input.preview {
color:#646B10;
}
#comment-form input.preview:hover {
background:#DF6C01;
border-color:#DF6C01;
}
#comment-form input.submit {
color:#646B10;
}
#comment-form input.submit:hover {
background:#DF6C01;
border-color:#DF6C01;
}
#sidebar {
color:#000000;
}
#sidebar h2 {
font-family:"Trebuchet MS", Helvetica, sans-serif;
color:#FE9017;
}
#sidebar h3 {
font-family:Georgia, serif;
font-size:1.2em;
color:#826228;
}
#sidebar ul {
border-top-color:#D3EB8B;
}
#sidebar li {
border-bottom-color:#D3EB8B;
}
#topnav ul {
border-bottom-color:#D3EB8B;
}
#sidebar li a {
color:#858547;
}
#sidebar li a:visited {
color:#8F9645;
}
#sidebar li a:hover, #sidebar li a:focus, #sidebar li a:active {
color:#FE9017;
}
#search input {
color:#858547;
}
#search .submit {
color:#858547;
}
#search .submit:hover {
background:#FE9017;
border-color:#FE9017;
}
.post-title {
color:#806432;
font-family:"Trebuchet MS", Helvetica, sans-serif;
font-size:1.8em;
}
.post-title a, .post-title a:visited {
color:#806432;
}
#comments dd {
background-color:#EFFDCC;
color:#826228;
background-image:url(/gam/public/blowup-images/comment-b.png);
}
#comments dd.me {
background-color:#A6D9DC;
color:#000000;
background-image:url(/gam/public/blowup-images/commentmy-b.png);
}
#prelude, #prelude a {
color:#FFF88D;
}
#footer p {
background-color:#FFF88D;
color:#FFF88D;
font-size:1em;
}
#footer p a {
color:#FFF88D;
}
#footer {
background-image:url(/gam/public/blowup-images/page-b.png);
}
#comments dt {
background-image:url(/gam/public/blowup-images/comment-t.png);
}
#comments dt.me {
background-image:url(/gam/public/blowup-images/commentmy-t.png);
}
